<!-- app/templates/add_kluszoeker.html -->
<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kluszoeker Toevoegen</title>
</head>
<body>
    <h1>Voeg een nieuwe KLUSzoeker toe</h1>
    <form method="POST">
        {{ form.hidden_tag() }}  <!-- Verwerkt CSRF-token -->
        
        <p>{{ form.idnummer.label }} {{ form.idnummer(size=32) }}</p>
        <p>{{ form.rating.label }} {{ form.rating() }}</p>
        <p>{{ form.aantal_klussen.label }} {{ form.aantal_klussen() }}</p>
        <p>{{ form.categorie.label }} {{ form.categorie(size=32) }}</p>
        
        <p>{{ form.submit() }}</p>
    </form>
</body>
</html>
