{% extends 'base.html' %}

{% block title %}Beoordelingen - {{ kluszoeker.voornaam }} {{ kluszoeker.achternaam }}{% endblock %}

{% block content %}
<div class="container py-5">
    <!-- Logo -->
    <div class="text-center mb-4">
        <img src="{{ url_for('static', filename='images/logo_kluskompass.png') }}" alt="Kluskompas Logo" class="img-fluid mx-auto d-block" style="max-width: 300px; width: 100%; max-width: 300px;">
    </div>

    <!-- Titel van de pagina -->
    <h1 class="text-center" style="font-size: 28px; color: #10246B;">Beoordelingen voor {{ kluszoeker.voornaam }} {{ kluszoeker.achternaam }}</h1>
    <h3 class="text-center mb-4">Rol: Kluszoeker</h3>

    <!-- Gemiddelde scores weergeven -->
    <div class="average-scores text-center mb-4">
        {% if gemiddelde_scores %}
            <h4>Gemiddelde scores: {{ gemiddelde_scores }} </h4>
        {% endif %}
    </div>

    <!-- Scrollbaar overzicht -->
    <div class="d-flex justify-content-center mb-4">
        <div class="scrollable-container" style="max-height: 500px; overflow-y: auto; border: 1px solid #ddd; border-radius: 8px; padding: 10px; width: 90%; max-width: 1200px;">
            {% if ratings %}
                {% for rating in ratings %}
                <div class="rating-card mb-4 p-4" style="background-color: #10246B; color: white; border-radius: 12px; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);">
                    <h2 class="text-center" style="font-size: 24px; font-weight: bold;">Algemene ervaring: {{ rating.algemene_ervaring_zoeker }}</h2>
                    <p class="text-center">Ingediend door: {{ rating.klusaanbieder.voornaam }} {{ rating.klusaanbieder.achternaam }}</p>
                    <p class="text-center">Datum: {{ rating.created_at.strftime('%d-%m-%Y') }}</p>
                    <div class="text-center">
                        <a href="{{ url_for('main.ratings_detail_zoeker', rating_id=rating.id) }}" class="btn btn-light">Bekijk details →</a>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <p class="text-center">Er zijn nog geen beoordelingen beschikbaar voor deze persoon.</p>
            {% endif %}
        </div>
    </div>  
</div>
<div class="position-fixed" style="left: 10px; bottom: 10px; z-index: 100;">
    <a href="{{ url_for('main.mijn_aangeboden_klussen') }}" class="back-icon">
        <img src="{{ url_for('static', filename='images/terug.png') }}" alt="Terug" class="img-fluid" style="width: 70px;">
    </a>
</div> 

<style>
    .back-icon:hover {
        transform: scale(1.1);
    }

    @media (max-width: 768px) {
        .scrollable-container {
            width: 100%; /* Zorg ervoor dat het breed is op mobiele apparaten */
            margin-left: 0;
        }
    }
    
</style>
{% endblock %}
