{% extends 'base.html' %}

{% block title %}Beoordelingsdetails{% endblock %}

{% block content %}
<div class="container my-5">
    <!-- Logo -->
    <div class="text-center mb-4">
        <img src="{{ url_for('static', filename='images/logo_kluskompass.png') }}" alt="Kluskompas Logo" class="img-fluid" style="max-width: 300px;">
    </div>
    <!-- Titel van de pagina -->
    <h1 class="text-center text-custom" style="font-size: 28px;">Beoordelingsdetails</h1>

    <!-- Detailinformatie -->
    <div class="card mx-auto my-4 p-4 shadow-lg" style="max-width: 600px; background-color: #f9f9f9;">
        <h2 class="card-title text-custom">{{ rating.algemene_ervaring_zoeker }}</h2>
        <p><strong>Vriendelijkheid:</strong> {{ rating.vriendelijkheid_zoeker }}</p>
        <p><strong>Tijdigheid:</strong> {{ rating.tijdigheid }}</p>
        <p><strong>Kwaliteit:</strong> {{ rating.kwaliteit }}</p>
        <p><strong>Communicatie:</strong> {{ rating.communicatie_zoeker }}</p>
        
        <!-- Alleen commentaar tonen als er een commentaar is -->
        {% if rating.comment %}
        <p><strong>Commentaar:</strong> {{ rating.comment }}</p>
        {% else %}
        <p><strong>Commentaar:</strong> Geen commentaar gegeven.</p>
        {% endif %}

        <p><strong>Datum:</strong> {{ rating.created_at.strftime('%d-%m-%Y') }}</p>
    </div>

    <!-- Terug knop -->
    <div class="position-fixed" style="left: 10px; bottom: 10px; z-index: 100;">
        <a href="{{ url_for('main.mijn_aangeboden_klussen') }}" class="back-icon">
            <img src="{{ url_for('static', filename='images/terug.png') }}" alt="Terug" class="img-fluid" style="width: 70px;">
        </a>
    </div>
</div>
<style>
    .text-custom{
        color: #10246B;
    }
</style>

{% endblock %}
